@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --primary-color: #2BB4FF;
  --bg-color: #f5f5f5;
  --light-bg-color: #fff;
  --text-color: #111116;
  --light-text-color: #cdccd1;
  --primary-text-color: #fff;
  --secondary-text-color: #CCCFD1;
  --hover-color: #808080;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 130vh;
}

main {
  flex-grow: 1;
  color: var(--text-color);
  margin-bottom: 20%;
  font-weight: 600;
}

body.dark {
  --bg-color: #111116;
  --light-bg-color: #1c1b20;
  --text-color: #fff;
  --light-text-color: #58575c;
}
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.input-container {
  position: relative;
  padding: 0 20px;
  display: flex;
  margin: 25vh 0 5vh 0;
  gap: 10px;
}
.input-container .card {
  flex: 1;
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  background-color: var(--light-bg-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-user-select: none;  /* Disable selection on Chrome, Safari, etc. */
  -moz-user-select: none;     /* Disable selection on Firefox */
  -ms-user-select: none;      /* Disable selection on Microsoft Edge */
  user-select: none;  

}
.input-container .card .from,
.input-container .card .to {
  display: flex;
  align-items: center;
  gap: 20px;

}
.input-container .card .from {
  margin-right: 20px;
}
.input-container .card .to {
  margin-left: 20px;
}
.input-container .card .heading {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-text-color);
  white-space: nowrap;
}
.dropdown-container {
  position: relative;
  /* margin-bottom: 10px; */
  width: 100%;
  -webkit-user-select: none;  /* Disable selection on Chrome, Safari, etc. */
  -moz-user-select: none;     /* Disable selection on Firefox */
  -ms-user-select: none;      /* Disable selection on Microsoft Edge */
  user-select: none;

}
.dropdown-container .dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 30px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s;
}
.dropdown-container .dropdown-toggle span {
  flex: 1;
  margin-left: 10px;
}

.dropdown-container .dropdown-toggle img, .dropdown-container .dropdown-toggle svg {
  width:35px;
  fill: var(--text-color);
  border-radius: 40px;
  transition: transform 0.3s ease;
}

.dropdown-container.active .dropdown-toggle {
  border-radius: 20px 20px 0 0;
}
.dropdown-container.active .dropdown-toggle img:last-child {
  transform: rotate(180deg);
}
.dropdown-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: auto;
  display: none;
  padding: 20px;
  z-index: 1;
  list-style: none;
  flex-direction: column;
  background-color: var(--bg-color);
  transition: all 1s;
  border-radius: 0 0 20px 20px;
}
.dropdown-container .dropdown-menu::-webkit-scrollbar {
  display: none;
}
.dropdown-container.active .dropdown-menu {
  display: flex;
}

.dropdown-container .dropdown-menu .option img, .dropdown-container .dropdown-menu .option svg {
  fill: var(--text-color);
  border-radius: 35%;
  width: 35px;
  margin-right: 10px;
}

.dropdown-container .dropdown-menu .option{
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--light-bg-color);
  transition: all 0.3s ease;
}
.dropdown-container .dropdown-menu .option:hover {
  background-color: var(--light-bg-color);
}
.dropdown-container .dropdown-menu .option.active{
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.input-container .text-area {
  position: relative;
  display: flex;
}
.input-container textarea {
  width: 100%;
  padding: 20px;
  margin: 10px 0 30px 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-size: 1.5rem;
}
.icoon {
  /* color: var(--text-color); */
  cursor: pointer !important;
  border-radius: 100%;
  padding: 8px 8px 5px 8px;
}
.clear-btn{
  cursor: pointer;
  border-radius: 100%;
  margin-top: 30px;
}
.input-container .text-area .chars {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--light-text-color);
}
.input-container .center {
  position: relative;
}
.swap-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--bg-color);
  transition: all 0.3s ease;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.swap-position ion-icon {
  font-size: 25px;
}
.swap-position:hover {
  transform: translateX(-50%) scale(1.1);
}
.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 2px solid var(--bg-color);
}
.card-bottom p {
  margin-bottom: 20px;
}
.card-bottom span {
  font-size: 12px;
  pointer-events: none;
}
.card-bottom  .icoon:hover {
  color: var(--hover-color);
}

.switch {
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 80px;
  height: 40px;
}

/* We need to hide (but not get rid of) the default html checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* the actual toggle slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DADADA;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

/* Quick Notes
    - content: can only be used with :before & :after, - used to generate content (dynamically at runtime)
*/
.slider::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 5px;
  bottom: 5px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

/* Quick Notes
    - content: can only be used with :before & :after, - used to generate content (dynamically at runtime)
*/
input:checked + .slider {
  /* update */
  background-color: var(--primary-color);
}


input:checked + .slider:before {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(47px);
  transform: translateX(40px);  
}

/* media quiries */
@media (max-width: 800px) {
  .flBtnCntr{
    display: none !important;
  }
  .input-container {
    width: 100%;
    margin-top: 25%;
    flex-direction: column;
  }
  .input-container .card {
    width: 100%;
  }
  .input-container .card .from {
    margin-right: 0;
  }
  .input-container .card .to {
    margin-left: 0;
  }
  .input-container .card .from,
  .input-container .card .to {
    flex-direction: column;
  }

  .swap-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swap-position:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .swap-position ion-icon {
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 800px) {
  #kcontainer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100% !important;
    background-color: var(--bg-color) !important;
  }
}

/* ===================== keyboard ====================== */

#kcontainer {
  margin: 0px auto 0 auto;
  width: 40%;
  height: 230px;
  border-radius: 5px;
  -webkit-user-select: none;  /* Disable selection on Chrome, Safari, etc. */
  -moz-user-select: none;     /* Disable selection on Firefox */
  -ms-user-select: none;      /* Disable selection on Microsoft Edge */
  user-select: none;  
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.simple-keyboard {
  max-width: 850px;
}

.simple-keyboard.hg-theme-default.myTheme {
  background-color: var(--background-color);
  
}
.myTheme .hg-button{
  background-color: var(--light-bg-color) !important;
  border: none !important;
  color: var(--text-color);
}


.board-container {
  display: flex;
  gap: 20px;
  width: 230px;
  height: 200px;
  margin: 50px auto 50px auto;
  justify-content: center;
  background-color: var(--light-bg-color);
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.board-container .dots {
  width: 100px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.dot-1 { grid-area: 1 / 1 / 2 / 2; }
.dot-2 { grid-area: 1 / 2 / 2 / 3; }
.dot-3 { grid-area: 2 / 1 / 3 / 2; }
.dot-4 { grid-area: 2 / 2 / 3 / 3; }
.dot-5 { grid-area: 3 / 1 / 4 / 2; }
.dot-6 { grid-area: 3 / 2 / 4 / 3; }

.cell-dot {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  outline: none;
  cursor: pointer;
}

.cell-dot:checked {
  background-color: var(--text-color);
}

.functions button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 19px;
  transition: transform 200ms,background 200ms;
}

.add-btn {
  background: var(--primary-color);
  color: var(--primary-text-color);
}
.delete-btn {
  background: #F87474;
  color: var(--primary-text-color);
}
.functions .clear-btn {
  background: #FFB562;
  color: var(--primary-text-color);
}


.functions button:hover{
  transform: translateY(-1px);
}

.functions {
  display: flex;
  flex-direction: column;
  gap: 25px
}


.lookup-container{
  position: relative;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 25vh 0 15vh 0;
}
.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 15px 0 15px 0;
  border-radius: 20px;
  background-color: var(--light-bg-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-user-select: none;  /* Disable selection on Chrome, Safari, etc. */
  -moz-user-select: none;     /* Disable selection on Firefox */
  -ms-user-select: none;      /* Disable selection on Microsoft Edge */
  user-select: none;  
}

.lookup-container .input {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  /* margin: 10px 0 30px 0; */
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-size: 1.5rem;
}

.search-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: auto;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 15px;
  opacity: 1;
  transition: ease 0.2s;
  cursor: pointer;
}

.lang-search {
  min-width: 140px;
  max-width: 200px;
  width: 100%;
  margin-right:20px;
}

.search-btn:hover {
opacity: 0.6;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--light-bg-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }

.flBtnCntr {
  display: inline-flex;
  position: absolute;
  right: 20em;
  /* top: 50px; */
  /* left: 50px */
}
.flBtnBox {
  outline: 0;
  border: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
.flBtnBox.big {
  background-color: var(--primary-color);
  font-size: 30px;
  height: 45px;
  width: 45px
}
.flBtnBox.small {
  animation: showBtn 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  transform: scale(0);
  background-color: #363636;
  margin: 0 5px;
  padding-top: 5px;
  font-size: 20px;
  height: 38px;
  width: 38px;
}
.flBtnBox.small:nth-child(2) {
  animation-delay: 200ms
}
.flBtnBox.small:nth-child(1) {
  animation-delay: 400ms
}
@keyframes showBtn {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}
.flBtnBox.big:hover {
  box-shadow: 0 0 10px rgba(41,120,211,0.4)
}
.flBtnBox.small:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.3)
}
.flBtns {
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  display: none;
  padding: 0 5px;
  align-items: center
}
.flBtnCntr:hover .flBtns {
  display: inline-flex
}
.active-float-btn {
  background-color: var(--primary-color) !important;
}
